.border_shadow {
    height: 100%;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    border-radius: 10px;
    transition: all 1s ease-in;
}

.clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon_style {
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 50%;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}

.hover_icon {
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: bottom .5s ease, opacity .5s ease;
}

.border_shadow:hover .hover_icon {
    bottom: 20px;
    opacity: 1;
    visibility: visible;
}