.content_home {
    padding: 0 30px;
    height: 100%;
    background-color: #f2f4f7;
}

.position_img_header {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(70%);
}

.img_khuyenmai {
    flex: 1;
}

.action_cate {
    border-bottom: 3px solid #F79009 !important;
    background-color: #FFF6E3 !important;
}

.row-custom {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 5 cột bằng nhau */
    gap: 12px;
    /* khoảng cách giữa các item */
}

.product-item {
    background: #fff;
    /* ví dụ */
}